/* High Level Styling
================================================================================ */

:root {
  --final-color: purple;

  --anim-border-width: 1.5rem;
  --anim-square-size: 10rem;
  --anim-time: 1s;
  --anim-delay: 1.5s;
  --anim-delay-2: 0.2s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Animation Elements Styling
================================================================================ */

.animated {
  width: var(--anim-square-size);
  aspect-ratio: 1;
  position: absolute;
}

.border {
  border: var(--anim-border-width) solid transparent;
}

.animated#one {
  /* border-top-color: var(--final-color); */
  /* border-left-color: var(--final-color); */

  animation: rotate1 var(--anim-time) var(--anim-delay) ease-out forwards;
}

.animated#two {
  /* background-color: var(--final-color); */
  background-color: transparent;

  animation: grow var(--anim-time) calc(var(--anim-delay) + var(--anim-delay-2))
    ease-in-out forwards;
}

.animated#thr {
  /* border-bottom-color: var(--final-color); */
  /* border-right-color: var(--final-color); */

  animation: rotate3 var(--anim-time) var(--anim-delay) ease-out forwards;
}

/* Keyframes
================================================================================ */

@keyframes grow {
  from {
    transform: scale(0);
    background-color: transparent;
  }
  to {
    transform: scale(100%);
    background-color: var(--final-color);
  }
}

@keyframes rotate1 {
  from {
    /* transform: translate(-100%, 0); */
    transform: translate(-100%, 0) rotate(0.25turn);
    border-top-color: transparent;
    border-left-color: transparent;
  }
  to {
    /* transform: translate(0, 0); */
    transform: translate(0, 0) rotate(0);
    border-top-color: var(--final-color);
    border-left-color: var(--final-color);
  }
}

@keyframes rotate3 {
  from {
    transform: translate(100%, 0) rotate(0.25turn);
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  to {
    transform: translate(0, 0) rotate(0);
    border-bottom-color: var(--final-color);
    border-right-color: var(--final-color);
  }
}

/* @keyframes translate1 {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
} */
